*{
    margin: 0;
    padding: 0;
    background-color: white;
    
}


/* Estilo para el contenedor principal */
.card-individual {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Estilo para el título */
  .card-individual h3 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
  }
  
  
  /* Estilo para el párrafo de descripción */
  .card-individual p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
  }
  
  /* Estilo para la lista de elementos */
  .card-individual ul#lebrilandia {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .card-individual ul#lebrilandia li {
    font-size: 14px;
    color: #444;
    margin: 5px 0;
  }
  
  /* Estilo para los botones */
  .card-individual .botones {
    margin-top: 20px;
  }
  
  .card-individual .button {
    display:flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color:#3e8e41;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .card-individual .button:hover {
    background-color: #0056b3;
  }



   /* Estilo para el contenedor del slider */
.slider-container {
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    overflow: hidden;
  }
  
  /* Estilo para el contenedor de las diapositivas */
  .slider {
    display: flex; /* Para alinear las diapositivas horizontalmente */
    transition: transform 0.5s ease; /* Transición suave al cambiar de diapositivas */
  }
  
  /* Estilo para cada diapositiva */
  .slider div {
    flex: 0 0 100%; /* Asegura que cada diapositiva ocupe el 100% del ancho del contenedor */
    padding: 10px; /* Agrega espacio entre las diapositivas si lo deseas */
    box-sizing: border-box;
  }
  
  /* Estilo para las imágenes dentro de las diapositivas */
  .slider img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  /* Estilo para los botones de navegación "Prev" y "Next" */
.prev, .next {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 16px; /* Tamaño de fuente */
    margin: 0 10px; /* Margen entre los botones */
    transition: background-color 0.3s ease; /* Transición de color suave */
  }
  
  /* Estilo al pasar el cursor por encima de los botones */
  .prev:hover, .next:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
  }

  .icono-redes {
    width: 50px;
    height: auto;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

      