*{
    margin: 0;
    padding: 0;
    background-color: white;
    
}


/* Estilo para el contenedor principal */
.card-individual {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Estilo para el título */
  .card-individual h3 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
  }
  
  
  /* Estilo para el párrafo de descripción */
  .card-individual p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
  }
  
  /* Estilo para la lista de elementos */
  .card-individual ul#lebrilandia {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .card-individual ul#lebrilandia li {
    font-size: 14px;
    color: #444;
    margin: 5px 0;
  }
  
  /* Estilo para los botones */
  .card-individual .botones {
    margin-top: 20px;
  }
  
  .card-individual .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .card-individual .button:hover {
    background-color: #0056b3;
  }



    /* Estilo para el contenedor del slider */
    .slider-container {
        width: 100%; /* Cambia esto a un valor fijo, por ejemplo, 600px */
        height: auto; /* Cambia esto a la altura deseada */
        margin: 0 auto;
        overflow: hidden;
      }
  
      /* Estilo para las imágenes en el slider */
      .slider img {
        width: 100%;
        height: auto;
      }
      @media (max-width: 768px) {
        .slider {
          width: 100%; /* Ajusta el ancho del slider para dispositivos móviles */
        }
      
        .slider img {
          max-width: 100%; /* Ajusta el tamaño de las imágenes para dispositivos móviles */
          height: auto;
        }
      }

      