*{
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
    background-color: yellow;
    
}

#todosLosPlatos{
  display: none;
}
.buscador {
    display: flex;
    justify-content: center;
    
}
.buscador input{
  padding: 12px;
  border: none;
  border-radius: 25px;
  box-shadow: inset 0 0 15px #ccc;
}

#botonBuscar{
  padding: 12px;
  border: none;
  border-radius: 25px;
  box-shadow: inset 0 0 15px #ccc;
}

input:focus {
  outline: none;
  box-shadow: inset 0 0 15px #4CAF50;
}



.cardsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }
  
  .cardsContainer div,p,h2,ul,img,li{
    background-color: white;
  }
.cardsContainer p,h2,li{
  color: red;
  font-weight: bold;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;  
  }

  .logo{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    justify-content: center;
    
  }
  header{
    display: flex;
  margin-top: 20px;
    justify-content: center;
  }

  .parrafo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
  }

.card {
    width: 80%;
    margin: 20px auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,.1);
    background-color: rgb(225, 161, 161);


  }
  
  .card h2 {
    padding: 10px 10px;
    text-align: center;
    font-size: 24px;
  }
  
  .card img {
    width: 100%;
    padding: 15px 0 15px;
    
  }
  
  .card ul {
    list-style-type: none;
    padding-left: 15px;
  }
  .card p{
    text-align: center;
    padding: 10px;

  }

  .botones {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0 15px;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  
  @media (max-width:900px) {
    .cardsContainer{
        grid-template-columns: repeat(2, 1fr);
      }
  }

  @media (max-width:520px) {
    .cardsContainer{
        grid-template-columns: 1fr;
      }
      header{
        flex-wrap: wrap;
      }
      .logo {
        margin-right: 0;
      }
  }